In [38]:
"""I've noticed something interesting with this dataset, it is that the athletes from"""

import pandas as pd 
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

path = r'' #insert the path in your pc
data = pd.read_csv(path)
data = pd.DataFrame(data)

null_cols = data.isnull().sum() #check the null cols
print(null_cols)
data.head(1)

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN

In [24]:
#colathlete_country = ['Name','NOC'] #group the athletes that are in each team
#country_athlete = data[colathlete_country]
#country_athlete =country_athlete.groupby(['Team']).sum()
yearsarr = data['Year'].unique() #Create an array with all the years
olympyear = {}
yearsarr.sort() #Sorted from the 1st modern olympics to modernity
yearsarr

array([1896, 1900, 1904, 1906, 1908, 1912, 1920, 1924, 1928, 1932, 1936,
       1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988,
       1992, 1994, 1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012,
       2014, 2016], dtype=int64)

In [3]:

"""IMPORTANT

This can help us to manipulate a dataset form a specific year if we need
it referring each year as a variable"""
for yearval in yearsarr:
    olympyear[yearval] = data.loc[data['Year']==yearval]
#It will locate the rows with the yearval and 
#append it in a dictionary, this will make our
#data manipulation easier because we can refer each dataset as a variable
olympyear[1896]

230

In [37]:
len(data['Team'].unique()) #How many teams are in the Olympics? 
len(data['NOC'].unique())#How many countries are in the Olympics?

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

230