###### """I've noticed something interesting with this dataset, it is that the athletes from"""

import pandas as pd 
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

path = r'C:\Users\falap\Desktop\Iron_Hack\Projects\3rd-Project\athletesarchive\athlete_events.csv' #insert the path in your pc
data = pd.read_csv(path)
data = pd.DataFrame(data)

null_cols = data.isnull().sum() #check the null cols
print(null_cols)
data.head(1)

In [2]:
#colathlete_country = ['Name','NOC'] #group the athletes that are in each team
#country_athlete = data[colathlete_country]
#country_athlete =country_athlete.groupby(['Team']).sum()
yearsarr = data['Year'].unique() #Create an array with all the years
olympyear = {}
yearsarr.sort() #Sorted from the 1st modern olympics to modernity
yearsarr

array([1896, 1900, 1904, 1906, 1908, 1912, 1920, 1924, 1928, 1932, 1936,
       1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988,
       1992, 1994, 1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012,
       2014, 2016], dtype=int64)

In [19]:

"""IMPORTANT

This can help us to manipulate a dataset form a specific year if we need
it referring each year as a variable"""
for yearval in yearsarr:
    olympyear[yearval] = data.loc[data['Year']==yearval]
#It will locate the rows with the yearval and 
#append it in a dictionary, this will make our
#data manipulation easier because we can refer each olympic year as a variable
olympyear[1896]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
3079,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Tennis,Tennis Men's Singles,NaN
3080,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece-3,GRE,1896 Summer,1896,Summer,Athina,Tennis,Tennis Men's Doubles,NaN
3081,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Tennis,Tennis Men's Singles,NaN
3082,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece-3,GRE,1896 Summer,1896,Summer,Athina,Tennis,Tennis Men's Doubles,NaN
7348,4113,Anastasios Andreou,M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's 110 metres Hurdles,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270473,135285,Khristos Zoumis,M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's Triple Jump,NaN
270914,135481,"Jules Alexis ""Louis"" Zutter",M,30.0,NaN,NaN,Switzerland,SUI,1896 Summer,1896,Summer,Athina,Gymnastics,Gymnastics Men's Horse Vault,Silver
270915,135481,"Jules Alexis ""Louis"" Zutter",M,30.0,NaN,NaN,Switzerland,SUI,1896 Summer,1896,Summer,Athina,Gymnastics,Gymnastics Men's Parallel Bars,Silver
270916,135481,"Jules Alexis ""Louis"" Zutter",M,30.0,NaN,NaN,Switzerland,SUI,1896 Summer,1896,Summer,Athina,Gymnastics,Gymnastics Men's Horizontal Bar,NaN
270917,135481,"Jules Alexis ""Louis"" Zutter",M,30.0,NaN,NaN,Switzerland,SUI,1896 Summer,1896,Summer,Athina,Gymnastics,Gymnastics Men's Pommelled Horse,Gold

In [37]:
len(data['Team'].unique()) #How many teams are in the Olympics? 
len(data['NOC'].unique())#How many countries are in the Olympics?

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [26]:
not_nulldf = data[["Year","Name","Age", "Height", "Weight"]].groupby("Year").count()
not_nulldf["percent"] = (not_nulldf["Age"] + not_nulldf["Height"] + not_nulldf["Weight"])/(3*not_nulldf["Name"])
not_nulldf #Take consideraation from the 1960 since from there we have 90% of the data

       Name    Age  Height  Weight   percent
Year
1896    380    217      46      49  0.273684
1900   1936   1146     116      79  0.230888
1904   1301   1027     213     147  0.355368
1906   1733    990     257     205  0.279284
1908   3101   2452     475     483  0.366548
1912   4040   3884     721     596  0.429125
1920   4292   3447     767     471  0.363855
1924   5693   4551     974     690  0.363897
1928   5574   4611     975     718  0.376988
1932   3321   2991    1213     550  0.477166
1936   7401   7188    1192     987  0.421880
1948   7480   6304    1169    1151  0.384314
1952   9358   9081    2188    2187  0.479305
1956   6434   5796    2686    2680  0.578282
1960   9235   9014    8274    8187  0.919509
1964   9480   9424    8799    8772  0.949191
1968  10479  10361   10326   10310  0.986004
1972  11959  11863   11658   11570  0.978092
1976  10502  10450    9626    9582  0.941345
1980   8937   8750    8349    8341  0.948864
1984  11588  11372   10990   10985  0.959239
1988  14676  14566   13743   13748  0.955233
1992  16413  16369   13238   13256  0.870509
1994   3160   3158    2973    2971  0.960127
1996  13780  13772   11909   11959  0.910498
1998   3605   3603    3521    3519  0.984096
2000  13821  13820   13698   13695  0.993971
2002   4109   4109    4080    4062  0.993835
2004  13443  13443   13407   13406  0.998190
2006   4382   4382    4376    4366  0.998326
2008  13602  13600   13451   13443  0.992354
2010   4402   4402    4400    4378  0.998031
2012  12920  12920   12752   12560  0.986378
2014   4891   4891    4871    4673  0.983780
2016  13688  13688   13512   13465  0.990283